<h1 align='center'>Listing All Categories</h1>
<div align='center'>
<%= will_paginate %>
<% @categories.each do |category| %>
  <ul class='listing'>
    <div class='row'>
    <div class='well col-md-4 col-md-offset-4'>
      <li class='article-title'>
        <%= link_to "#{category.name}", category_path(category) %>
      </li>
      <li><small><%= pluralize(category.articles.count, 'article') %></small></li>
    </div>
  </div>
</ul>
<% end %>
<%= will_paginate %>
</div>